@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope:wght@200&family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope:wght@200&family=Montserrat&family=Raleway:wght@200&display=swap');


html {
    scroll-behavior: smooth;
}

/* Nav Bar Style */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
* {
    margin: 0;
    padding: 0;
}
.list-item, .contact-button, .list-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 10px;
    /* color: #ECF0F1; */
    color: black;
    text-decoration: none;
    opacity: 1;
}
.list-link {
    color: rgb(84, 96, 76);
}
nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 50px;
    margin-top: 15px;
}
section {
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
}
.contact-button {
    /* background-color: #0088A9; */
    background-color: #5a9247;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 8px 22px;
    border: none;
    margin-left: 20px;
    font-size: 15px;
    margin-right: 20px;
    color: white;
}
.contact-button:hover {
    /* background-color: rgba(0, 136, 169, 0.8); */
    background-color: #4d853a;
}

.logo {
    height: 70px;
    cursor: pointer;
    margin-bottom: -20px;
}
.nav-tags {
    list-style: none;
}
.nav-tags .list-item {
    display: inline-block;
    padding: 0px 20px;
}
.nav-tags .list-item a {
    transition: all 0.3s ease 0s;
    font-size: 15px;
}
.nav-tags .list-item a:hover {
    color: #5a9247;
    cursor: pointer;
}


/* Main Styling */
main {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(./images/forest.jpg);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    position: absolute;
    top: 150px;
    right: 50px;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    color: rgb(84, 96, 76);
    text-align: right;
}
.stu-dev {
    font-size: 65px;
}


/* Intro Div Styling */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border-top: solid rgb(200, 200, 200) 2px;
}
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container {
    /* width: 100vw; */
    display: flex;
    gap: 150px;
}
.ben-img, .mountain, .beach {
    height: 200px;
    border-radius: 50% 50%;
    /* margin-top: 100px; */
    transition: all 0.2s ease-in-out;
}
.img-container > img:hover {
    transform: scale(1.05);
    box-shadow:rgb(162, 162, 162) 0 0 10px;
}
.headings {
    font-size: 40px;
    font-family: "Menlo", sans-serif;
    font-weight: 500px;
    padding-top: 50px;
    color: #4d853a;
}
.bio {
    font-size: 18px;
    width: 30vw;
    font-family: "Menlo", sans-serif;
    text-align: center;
    padding-top: 50px;
    color: rgb(100, 100, 100);
}
.divide {
    border-top: 2px solid #4d853a;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #f5f5f5;
}


/* Experience Div Styling */
.experience {
    height: 80vh;

    /* fixed bg code */
    /* background-image: url(images/bamboo.jpg);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover; */
}
.three-col {
    margin: auto 0;
    /* max-width: 1250px; */
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    font-family: "Menlo", sans-serif;
    font-weight: 500px;
}
.card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    display: block;
    filter: brightness(80%);
}
.card {
    background-color: white;
    border-radius: 20px;
    border-collapse: collapse;
    box-shadow: grey 0 0 10px;
    transition: all .2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: rgb(96, 96, 96) 0 0 20px;
}
.content {
    font-size: 15px;
    line-height: 1.2;
    padding: 15px;
    text-align: center;
    color: rgb(77, 77, 77);
    
}
.content > h3 {
    font-size: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
}
/* .lead {
    padding-top: 30px;
} */
ul {
    list-style: none;
}
dd {
    padding-bottom: 15px;
    font-size: 15px;
}
dd > a {
    text-decoration: none;
    font-style: italic;
    color: black;
}
dd > a:hover {
    text-decoration: underline;
    color: #4d853a;
}


/* Education section */
.edu-divider {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    /* fixed bg code  */
    background-image: url(./images/education.jpg);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.education {
    height: 150vh;
}
.three-row {
    margin: auto 0;
    /* max-width: 1250px; */
    width: 90vw;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 40px;
    font-family: "Menlo", sans-serif;
    font-weight: 500px;
}
.row {
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    padding: 10px;
    background-color: white;
    border-radius: 0px;
    box-shadow: grey 0 0 10px;
    height: 500px;
    padding: 0 30px;
}
.row img {
    height: 300px;
    filter: saturate(45%);
}
.abac {
    justify-content: end;
    flex-direction: row-reverse;
}




/* Footer */
footer {
    background-color: rgb(226, 226, 226);
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    border-top: solid rgb(200, 200, 200) 2px;
}
.socials {
    display: flex;
    gap: 40px;
}
.social-logo {
    /* height: 30px; */
}
.contact-info {
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
}
/* .address {
    text-align: right;
} */
.b-word {
    text-decoration: underline;
}
.name {
    color: rgb(96, 96, 96);
    font-size: 14px;
}


/* Card Slider */
/* .education-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    height: 75vh;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: grey;
}
.slide-content {
    margin: 0 40px;
}
.education-card {
    width: 320px;
    border-radius: 25px;
    background-color: red;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid blue;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
} */








